<div class="container">
  <div class="row">
    <% data.jobs.each do |job| %>

        <div class="blog-card">
          <div class="photo"><%= image_tag job.logo, {class: "card-logo"} %></div>
          <ul class="details">
            <li class="author"><a href=<%=job.website%>><%= job.company%></a></li>
            <li class="date"><%= job.date_in %> - <%= job.date_out %></li>
            <!-- <li class="tags">
              <ul>
                <li><a href="#">Learn</a></li>
                <li><a href="#">Code</a></li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
              </ul>
            </li> -->
          </ul>
          <div class="description">
            <h1><%= job.status %></h1>
            <h2><%= job.activity %> (<%= job.city %>)</h2>
            <p class="comment more"><%= job.functions %></p>
          </div>
        </div>




    <% end %>
  </div>
</div>
