---
title: Experience
title_reverse: true
---

<div class="card">
    <div class="card-content">
        <div class="hidediv">Hide</div>
    </div>
    <div class="test"></div>
    <div class="showdiv">Show</div>
</div>



<div class="container">
  <div class="row">
    <% data.jobs.each do |job| %>
      <div class="col-xs-12 col-lg-4">

        <div class="card">

          <div id="card-top">

            <div>
              <% link_to job.website do %>
                <%= image_tag job.logo, class: "card_image" %>
              <% end %>
            </div>

            <div class="card-company">
              <%= link_to job.company, job.website %>
            </div>

          </div>

          <div id="card-info">
            <p>en savoir plus</p>
          </div>

          <div id="card-content">

            <div class="card-left">

              <div class="card-subtitle">
                <div>
                  <h2><%= job.activity %></h2>
                  <p><strong><%= job.city %></strong></p>
                </div>
                <div>
                  <p> <%= job.date_in %> - <%= job.date_out %></p>
                </div>
              </div>
            </div>

            <div class="card-right">

              <div class="card-title">
                <h1><%= job.status %></h1>
              </div>

              <div>
                <p><%= job.functions %></p>
              </div>

            </div>

          </div>

        </div>

      </div>
    <% end %>
  </div>
</div>

